<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteRule ^assets/videos/([A-Za-z0-9-]+\.mp4)$ http://100.125.120.114:8100/$1 [P,L,NE]
</IfModule>

<IfModule mod_headers.c>
  Header always set Content-Security-Policy "default-src 'self'; base-uri 'self'; object-src 'none'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; font-src 'self' https://fonts.gstatic.com; img-src 'self' data:; media-src 'self'; frame-src 'none'; frame-ancestors 'self'"
</IfModule>
